<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>77731833282-1tieem99k8asou53vgskq4c28vqa2sl9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77731833282-1tieem99k8asou53vgskq4c28vqa2sl9</string>
	<key>API_KEY</key>
	<string>AIzaSyB5aLwIaxsraoruo-htWW0fhSwwGM6ab1A</string>
	<key>GCM_SENDER_ID</key>
	<string>77731833282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akula.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-84eb3</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-84eb3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:77731833282:ios:a56c05734d2a9dfc4d625b</string>
	<key>DATABASE_URL</key>
	<string>https://messenger-84eb3-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>
